#tree-toolbar {
    display: flex;
    justify-content: space-evenly;
}

#tree-title {
    margin: 10px 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 2em;
    text-align: center;
    padding: 0.2em 0;
}

#tree-list {
    width: 100%;
    height: auto;
    margin: 10px 0px;
}

